<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>230234379289-4lcqoed4bdtl0n86grm5tdd9e5lgc04h.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.230234379289-4lcqoed4bdtl0n86grm5tdd9e5lgc04h</string>
	<key>API_KEY</key>
	<string>AIzaSyDhMiuqWP8fc8Tmw-BmT9YqYk6PEnBhMJE</string>
	<key>GCM_SENDER_ID</key>
	<string>230234379289</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.eBuddies</string>
	<key>PROJECT_ID</key>
	<string>ebuddies-a0104</string>
	<key>STORAGE_BUCKET</key>
	<string>ebuddies-a0104.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:230234379289:ios:c76caacdacb959a4050688</string>
	<key>DATABASE_URL</key>
	<string>https://ebuddies-a0104.firebaseio.com</string>
</dict>
</plist>